navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

nav-link{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

.navbar-collapse{
    position: absolute;
    right: 15%;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font: bolder;
  }

/* body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
} */

table-responsive-lg{
    align-content: center;
    align-items: center;
}

/* dataframe{
    align-items: center;
    align-content: center;
} */

table-responsive-lg{
    align-items: center;
    align-content: center;
}

.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: rgb(12, 11, 11);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(8, 153, 146);
    font-size: x-large;
  }
  
  .skyblue {
    background: rgb(248, 249, 250);
  }

  p{
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-size: medium;
      font-weight: 500;
  }
